{:classname "actor_activities"
 :type :sub
 :fragments [{:text "%3 playing the organ."
              :sub {3 {:class :adverb}}}
             {:text "being chased around by a %3."
              :sub {3 {:class :animal}}}
             {:text "being chased by %3."
              :sub {3 {:class :person}}}
             {:text "being chased by %3 which is attached to them by a string."
              :sub {3 {:class :item}}}
             {:text "being chased by a swarm of balloon animals."}
             {:text "being menaced by %3."
              :sub {3 {:class :animal}}}
             {:text "clutching a DVD of %3."
              :sub {3 {:class :movie}}}
             {:text "dancing extremely slowly."}
             {:text "dancing furiously."}
             {:text "dancing in a small circle."}
             {:text "defiantly eating Scrabble tiles, one by one."}
             {:text "doing the Kenosha Kid."}
             {:text "drooling uncontrollably."}
             {:text "examining %3 with great confusion."
              :sub {3 {:class :item}}}
             {:text "having a coughing fit."}
             {:text "having a sneezing fit."}
             {:text "having a Guru Meditation Error."}
             {:text "hiding under a sofa."}
             {:text "hiding under a table."}
             {:text "hiding in the bushes."}
             {:text "looking %3."
              :sub {3 {:class :adjective}}}
             {:text "juggling some balls."}
             {:text "munching on %3."
              :sub {3 {:class :food}}}
             {:text "organizing matches."}
             {:text "pretending to be invisible."}
             {:text "ready to start some shit."}
             {:text "shouting at an imaginary helicopter."}
             {:text "stooping up and down like a rapper in concert."}
             {:text "thinking %3 about %4."
              :sub {3 {:class :adverb}
                    4 {:class :actor}}}
             {:text "wearing an eyepatch."}
             {:text "wearing two eyepatches and stumbling around blindly."}]}
