{:classname "adjectives"
 :type :sub
 :fragments [{:text "afraid"}
             {:text "angry"}
             {:text "aroused"}
             {:text "bored"}
             {:text "distracted"}
             {:text "forlorn"}
             {:text "fussy"}
             {:text "happy"}
             {:text "hopeful"}
             {:text "hungry"}
             {:text "isolated"}
             {:text "nonplussed"}
             {:text "relieved"}
             {:text "sad"}
             {:text "sleepy"}
             {:text "stinky"}
             {:text "thirsty"}
             {:text "uncertain"}
             {:text "worried"}
             {:text "vexed"}]}
