{:classname :adverb
 :type :sub
 :config [:no-article]
 :fragment [{:text "balefully"}
            {:text "bravely"}
            {:text "carefully"}
            {:text "happily"}
            {:text "lustfully"}
            {:text "mournfully"}
            {:text "proudly"}
            {:text "sadly"}
            {:text "solemnly"}
            {:text "uncertainly"}
            {:text "warily"}
            {:text "willfully"}
            {:text "wistfully"}]}
