{:classname :attack-event
 :type :event
 :fragment [{:text "%0 attacks you and knocks you out. You awake sometime later %1."
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :location}]}
            {:text "%0 attacks you but you fight back with %1, "
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}]
             :follow-up {:config [:required]
                         :fragment [{:text "winning the battle."}
                                    {:text "taking only a hit to your pride."}]}}
            {:text "%0 attacks you but you fight back with %1. "
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}]
             :follow-up {:config [:required]
                         :fragment [{:text "It isn't enough: you lose."}
                                    {:text "This scares the shit out of %2. %3 runs away."
                                     :sub [{:token 2 :ref 0 :class :gender :case :objective}
                                           {:token 3 :ref 0 :class :gender :case :subjective}]}]}}
            {:text "%0 attacks with %1. You execute %2. "
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}
                   {:token 2 :class :attack}]
             :follow-up {:config [:required]
                         :fragment [{:text "You are victorious!"}
                                    {:text "You have been killed."}
                                    {:text "You have been slain!"}
                                    {:text "So much blood... but is it yours or %3?"
                                     :sub [{:token 3 :ref 0 :class :gender :case :possessive}]}
                                    {:text "%3 keels over all dead and stuff."
                                     :sub [{:token 3 :ref 0 :class :gender :case :subjective}]}]}}
            {:text "%0 attacks with %1. You respond with %2. You are defeated."
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}
                   {:token 2 :class :attack}]}
            {:text "%0 attacks with %1. You strike back with %2. FATALITY. But who?!"
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}
                   {:token 2 :class :attack}]}
            {:text "%0 attacks with %1. You with %2. "
             :sub [{:token 0 :class :actor}
                   {:token 1 :class :attack}
                   {:token 2 :class :attack}]
             :follow-up {:config [:required]
                         :fragment [{:text "Look at you what with the killing and all."}
                                    {:text "%3 is a bloodstain."
                                     :sub [{:token 3 :ref 0 :class :gender :case :subjective}]}]}}]}
