{:classname :attack
 :type :sub
 :config [:no-article]
 :fragment [{:text "%10"
             :sub [{:token 10 :class :item}]}
            {:text "an antiparticle dildo"}
            {:text "an apathetic hipster"}
            {:text "an atomic wedgie"}
            {:text "a bad British accent"}
            {:text "a balloon"
             :decorator {:suffix {:fragment [{:text "animal"}]}}}
            {:text "Canadian disapproval"}
            {:text "a Cleveland steamer"}
            {:text "Conservative politics"}
            {:text "cute kittens"}
            {:text "a dangling participle"}
            {:text "a fancy uppercut"}
            {:text "a filthy soap slap"}
            {:text "a flurry of tiny kisses"}
            {:text "a forlorn sigh"}
            {:text "a high clownkick"}
            {:text "a judo chop"}
            {:text "a Judeo chop"}
            {:text "Liberal politics"}
            {:text "poor grammar"}
            {:text "a prison hug"}
            {:text "a reverse hug"}
            {:text "a rub cut"}
            {:text "a rough kitty lick"}
            {:text "a rusty trombone"}
            {:text "a sad testicle tug"}
            {:text "secret.jpg"}
            {:text "a spontaneous coma"}
            {:text "a smug kidney punch"}
            {:text "a sushi pants special"}
            {:text "tubgirl.jpg"}
            {:text "tumbly puppies"}
            {:text "Vogon poetry"}
            {:text "a wet hug"}
            {:text "a weaponized beard"}]}
