{:classname :diagnosis-event
 :type :event
 :fragment [{:text ["A doctor leans in from the shadows to inform you that you are %0."
                    "You look into a nearby mirror and notice you are %0."
                    "You check your health: you are %0."]
             :sub [{:token 0 :class :diagnosis}]}]}
