{:classname :direction
 :type :sub
 :fragment [{:text "north"}
            {:text "northeast"}
            {:text "east"}
            {:text "southeast"}
            {:text "south"}
            {:text "southwest"}
            {:text "west"}
            {:text "northwest"}]}
