{:classname "directions"
 :fragments [{:text "north"}
             {:text "northeast"}
             {:text "east"}
             {:text "southeast"}
             {:text "south"}
             {:text "southwest"}
             {:text "west"}
             {:text "northwest"}]}
