{:classname :game
 :config #{:no-article}
 :fragment [{:text "Agricola"
             :qualifier :tabletop}
            {:text "Advanced Squad Leader"
             :qualifier :tabletop}
            {:text "Carcassonne"
             :qualifier :tabletop}
            {:text "World in Flames"
             :qualifier :tabletop}
            {:text "Monopoly"
             :qualifier :tabletop}
            {:text "World of Warcraft"
             :qualifier :video}
            {:text "Civilization V"
             :qualifier :video}
            {:text "Grand Theft Auto V"
             :qualifier :video}]}
