{:classname "garments"
 :type :sub
 :fragments [{:text "belt"}
             {:text "clown suit"
              :modifier {:prefix {:option "heirloom"}}}
             {:text "coat"}
             {:text "dress"}
             {:text "gloves"}
             {:text "hat"}
             {:text "jacket"}
             {:text "pants"}
             {:text "schizophrenic mood ring"}
             {:text "shirt"}
             {:text "shoes"}
             {:text "skirt"}
             {:text "socks"}
             {:text "sweater"}
             {:text "underwear"}
             {:text "watch"}]}
