{:classname "intonations"
 :fragments [{:text "Clean up in aisle 8A."}
             {:text "Coitus?"}
             {:text "Consider deeply the baked ham."}
             {:text "Don't panic."}
             {:text "Don't panic. Oh, all right. You can panic a little bit."}
             {:text "For those who can make the journey, there is a place."}
             {:text "Guch."}
             {:text "It is a winning cake."}
             {:text "Pave Canada."}
             {:text "Plugh."}
             {:text "POKE 1024,0."}
             {:text "Rabbit feces."}
             {:text "Slightly uncomfortable pleasures."}
             {:text "Sorry, but it couldn't be helped."}
             {:text "Spigot."}
             {:text "The owls are not what they seem."}
             {:text "These pretzels are making me thirsty."}
             {:text "Toast goes in the toaster."}
             {:text "You can't go up against city hall."}
             {:text "Your pilikia is all pau."}
             {:text "You sank my battleship."}
             {:text "Zzyzx."}]}
