{:classname :movie
 :type :sub
 :config #{:no-article}
 :fragment [{:text "Breakin' 2: Electric Boogaloo"}
            {:text "Coming to America"}
            {:text "Debbie Does Dallas"}
            {:text "Dirty Harry"}
            {:text "Enter the Dragon"}
            {:text "The Kentucky Fried Movie"}
            {:text "Office Space"}]}
