{:classname :obstacle
 :type :sub
 :config [:no-article]
 :fragment [{:text "a black comb on the ground"}
            {:text "a stack of dogs going all the way to the moon"}
            {:text "Steve Buscemi's grin"}
            {:text "an obstinant balloon expert"}
            {:text "a pile of corroded Ewoks"}
            {:text "a horrible taste in your mouth"}
            {:text "a movie being shown in the wrong aspect ratio"}
            {:text "someone who has never listened to Neutral Milk Hotel"}
            {:text "the thing your aunt gave you which you don't know what it is"}
            {:text "an aquarium full of milk"}
            {:text "dubstep"}
            {:text "a 404 error"}
            {:text "Adam Sandler's career"}
            {:text "that awful man"}
            {:text "a dude who insists on putting his hand in his girlfriend's back pocket"}
            {:text "a maelstrom of hipster beards"}
            {:text "a wall of tepid soup"}
            {:text "a giant cat tongue"}
            {:text "George Lucas' neck"}
            {:text "Ruby On Rails"}
            {:text "someone who takes too many selfies"}
            {:text "a cat who has been pet against the grain"}
            {:text "substandard prequels"}
            {:text "the Scut Farkus Affair"}
            {:text "a lack of retweets"}
            {:text "a sweaty 486DX4 chip"}
            {:text "a convenient reclosing tab"}
            {:text "a lengthy German noun"}
            {:text "your own unwillingness to improve yourself"}
            {:text "%0's sheer force of will"
             :subs {0 {:class :person}}}
            {:text "%0's birthday party"
             :subs {0 {:class :person}}}
            {:text "a delicious Nutter Butter"}
            {:text "double-double Animal style"}
            {:text "someone who doesn’t know how to eat a goddamned Oreo properly"}
            {:text "a GitHub outage"}]}
