{:classname :sign
 :type :sub
 :config [:no-article]
 :fragment [{:text "Burma shave!"}
            {:text "For those who can make the journey, there is a place."}
            {:text "Here lies Hammerdog, a dog made of hammers."}
            {:text "Here lies Knifekitten, a kitten made of knives."}
            {:text "It's time to pay the price."}
            {:text "Now you know how hard it is to say 'Irish wristwatch'."}
            {:text "When you're not reading this, it's written in Spanish."}
            {:text "You can't go up against city hall."}]}
