{:classname :thought
 :type :sub
 :config #{:no-article}
 :fragment [{:text "%0 still owes me a backrub."
             :sub {0 {:class :person}}}
            {:text "%0 never has a second cup of coffee at home..."
             :sub {0 {:class :person}}}
            {:text "Hey! But I didn't eat the mousse!"}
            {:text "It's time to pay the price."}
            {:text "I've made a huge mistake."}
            {:text "I wonder if I could forge us a Group 6 Access..."}
            {:text "This'll all end in tears."}
            {:text "Why don't they have Double Stuf Nutter Butters?"}
            {:text "Why don't they put mayo in the can with the tuna?"}
            {:text "You can't go up against city hall."}]}
